
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Result</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container p-3">
        <h3 class="text-center">Search Result Page For <em><b>@Session["usrFullName"]</b></em></h3>

        <div>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr><th scope="col">First Name</th><th scope="col">Last Name</th><th scope="col">Dep Name</th></tr>
                </thead>
                <tbody>
                    @foreach (var emp in ViewBag.emps)
                    {
                        <tr>
                            <td>@emp.FirstName</td>
                            <td>@emp.LastName</td>
                            <td>@emp.DepName</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <input type="button" class="btn btn-secondary" value="Back" onclick="location.href='@Url.Action("Index")'" />
        <br />
        <input type="button" class="btn btn-secondary btn-sm" value="Log Out" onclick="location.href='@Url.Action("Logout", "Login")'" />
    </div>
</body>
</html>
