
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container p-3">
        <div class="offset-lg-4 ">
            <h3 >Welcome Back <em><b>@Session["usrFullName"]</b></em></h3>
            <div>
                <ul>
                    <li> @Html.ActionLink("Department Page", "GotoDepartment")</li>
                    <li> @Html.ActionLink("Employee Page", "GotoEmployee")</li>
                    <li> @Html.ActionLink("Shifts Page", "GotoShifts") </li>
                </ul>
                <input type="button" class="btn btn-secondary" value="Log Out" onclick="location.href='@Url.Action("Logout")'" />
            </div>
        </div>
    </div>
</body>
</html>
