@model FactoryPrj.Models.Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Department Info</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <div class="container p-3">
        <h3 class="text-center">Edit Department Page For <em><b>@Session["usrFullName"]</b></em></h3>


        <div class="offset-lg-4 ">
            <form action="/Department/GetUpdatedDep" method="post">
                Department ID: @Html.EditorFor(m => m.DepID, new { @class = "form-control" })<br />
                Department Name: @Html.EditorFor(m => m.DepName, new { @class = "form-control  w-25" })<br />
                Manage Number: @Html.EditorFor(m => m.DepManager, new { @class = "form-control  w-25" })<br />
                <input type="submit" class="btn btn-secondary" value="Save" />

            </form>



            <br /><br />
            @Html.ActionLink("Back to List", "Index") <br />
            <input type="button" class="btn btn-secondary btn-sm" value="Log Out" onclick="location.href='@Url.Action("Logout","Login")'" />
        </div>
    </div>
</body>
</html>
