
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container p-3">
        <h3 class="text-center">Department Page For <em><b>@Session["usrFullName"]</b></em></h3>
    </div>
    <div class="container">
        <input type="button" class="btn btn-secondary btn-sm" value="Back To Home Page" onclick="location.href='@Url.Action("BackToHomePage", "Login")'" />

        <table class="table table-hover table-bordered">
            <thead>
                <tr> <th scope="col">ID</th><th scope="col">Department Name</th><th scope="col">ManagerID</th><th scope="col">Manager</th><th scope="col">Edit</th><th>Delete</th></tr>
            </thead>
            <tbody>
                @foreach (var dep in ViewBag.deps)
                {
                    <tr>
                        <td>@dep.DepID</td>
                        <td>@dep.DepName</td>
                        <td>@dep.DepManager</td>

                        <td>
                            @foreach (var emp in ViewBag.emps)
                            {
                                if (dep.DepManager == emp.EmpID)
                                {

                                    @emp.FirstName @emp.LastName

                                }
                                else
                                {

                                }

                            }
                        </td>



                        <td>@Html.ActionLink("Edit", "EditDep", new { id = dep.DepID })</td>
                        <td>
                            @if (dep.DepManager == null)
                            {
                                @Html.ActionLink("Delte", "DeleteDep", new { id = dep.DepID })
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div>
            <input type="button" class="btn btn-secondary" value="Add New Department" onclick="location.href='@Url.Action("AddNewDep")'" /> <br /> <br />
            <input type="button" class="btn btn-secondary btn-sm" value="Log Out" onclick="location.href='@Url.Action("Logout", "Login")'" />

        </div>
    </div>
</body>
</html>
